{% extends 'base.html.twig' %}

{% block title %}
{{ 'header.title'|trans({}, 'cgv') }}
{% endblock %}

{% block content %}
<section class="row">
    <div class="col-md-12">
        <div class="row jumbotron">
            <h1>{{ 'content.title'|trans({}, 'cgv') }}</h1>
        </div>
        {% for i in 0..11 %}
            <p>{{ ('content.donnees.' ~ i)|trans({},'cgv')|raw }}</p>
        {% endfor %}
    </div>
</section>
{% endblock %}