{% extends 'base.html.twig' %}

{% block title %}
    {{ 'header.title'|trans({}, 'commande_finalisee') }}
{% endblock %}


{% block content %}
    <section class="row">
        <div class="col-md-12">
            <div class="row jumbotron">
                <h1><i class="glyphicon glyphicon-ok" aria-hidden="true"></i> {{ 'content.title'|trans({}, 'commande_finalisee') }}</h1>
            </div>
        </div>
            <div class="well well-lg">
                <p>{{ 'content.message_info'|trans({'%email%' : commande.emailVisiteur}, 'commande_finalisee')|raw }}</p>
            </div>
            <p class="text-center"><em>{{ 'content.message_remerciement'|trans({}, 'commande_finalisee') }}</em></p>
    </section>

{% endblock %}