{% extends 'base.html.twig' %}

{% block title %}
    Récapitulatif de votre commande
{% endblock %}

{% block content %}
<section class="row">
    <div class="col-md-12">
        <div class="row">
            <h1>Récapitulatif de la commande</h1>

        </div>
    </div>
</section>
{% endblock %}