html, body {
	font-family: 'Arial';
    overflow-x: hidden;
    background-color: #d3d3d3;
}

.ui-dialog-content {
  font-size:20px;
  font-family: 'Arial';
}

.image-header {
    height: 200px;
    background: url('../img/header.jpg');
}

.dialog-hide {
    display: none;
}

.wrapper-page {
    background-color: #fff;
}

#image-logo {
    padding-bottom: 5px;
}

.payments {
    background-color: #fff;
    border: 2px solid #000;
}

.payment-method {
    height: 20px;
}

header section
{
    background-color:#484848;
}
footer,footer a {
    color: #fff;
}
footer
{
    margin-top:10px;
    background-color:#484848;
}
em a:hover
{
	color:#fff;
}

a:hover {
    background-color: #222;
    color: #fff;
}

#btnTextXS {
    border-radius: 3px;
}

.fb-share-button {
    top: -5px;
}

form,form > * {
    background-color: #F5F5F5;
}

.bottom-links {
    background-color: #fff;
    padding-top: 10px;
}

.hidden {
    display:none;
}

.bottom-links button {
    border-radius:3px;
}

fieldset legend {
    background-color: #767676;
    color: #fff;
}

.label-as-badge {
    border-radius: 1em;
}